<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
    <style>
        html {
            background-color: aliceblue;
        }
    </style>
    <title>Forum</title>
</head>
<body>
<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">ProgrammingPocket</h1>
            <h2 class="subtitle">A community for programmers to get together on and discuss</h2>
        </div>
    </div>
</section>
<section class="section">
    <aside class="is-pulled-right">
        UIHUUI!!!
    </aside>
    <div class="container">
        <div class="columns is-centered">
            This is fluid!!!!!
        </div>
    </div>
</section>
</body>
</html>